

div {
    position: relative;
}

.song {
    min-width: 340px;
    max-width: 450px;
    margin: 0 auto;
    padding: 8px 4px;

    width: 90%;
    border-width: 90%;
    border-top: 1px solid #AAAAAA;
}
/* 
.song-upper {
} */

.song-upper > div {
    display: inline-block;
    padding: 5px 5px 0px 5px;
}

/* 스크롤바 숨기기 */
.song-title {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.song-title::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.song-singer {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.song-singer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.song-title {
    width: auto;
    max-width: 66%;
    font-weight: 500;
    margin-bottom: 0px;

    margin-left: 40px;

    white-space: nowrap;
    overflow: auto;
}

.song-no {
    float: right;
    text-align: right;
}


.song-lower {
    margin-top: 8px;
    margin-bottom: 5px;
}

.song-lower > div {
    display: inline-block;
    padding: 5px;
}

.song-singer {
    width: auto;
    max-width: 70%;
    font-weight: 200;
    font-size: 14px;

    margin-top: 0px;
    margin-left: 10px;
    left: 30px;


    white-space: nowrap;
    overflow: auto;
}


.detail-button {
    float: right;
    text-align: right;
    bottom: 2px;
}


.song-index {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 30%;
    background-color: transparent;
    border: transparent;
    color: white;
}

.fav-button {
    margin: 0px;
    padding: 0px;
    size: 50px;
    /* 
    position: absolute;
    top: -100%; */
}